h1{
    font-size: 25;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
ul{
    list-style-type: lower-alpha;
    list-style-type: square;
    color:white;
}

.main{
font-size: large;
color:white;

}
body {
    background-image: url('developer.jpg');
}
